@font-face {
    font-family: 'icomoon';
    src: url("fonts/icomoon.ttf%3Fxfzvt0.html") format("truetype"), url("fonts/icomoon.woff%3Fxfzvt0") format("woff"), url("fonts/icomoon.svg%3Fxfzvt0") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-arrow-left-light:before {
    content: "\e900"
}

.icon-arrow-right-light:before {
    content: "\e901"
}

.icon-arrow-left:before {
    content: "\e902"
}

.icon-arrow-right:before {
    content: "\e903"
}

html, body {
    height: 100%
}

body {
    background: #fff;
    color: #222;
    font-family: "proxima-nova", Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

h1, h2, h3 {
    margin: 0;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase
}

p {
    margin: 0 0 1.5em
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

strong, b {
    color: #222;
    font-weight: 700
}

a {
    color: #222;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s
}

#page {
    height: 100%
}

.button {
    display: inline-block;
    width: 200px;
    padding: 20px 35px;
    background-color: #fff;
    color: #333;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    border: 1px solid #333;
    border-radius: 5px;
}

.button:hover {
    background-color: #222
}

#start {
    padding: 10px 0 80px;
    background: #f2f2f2
}

@media screen and (min-width: 48em) {
    #start {
        min-height: 100%;
        padding: 30px 0 100px
    }
}

@media screen and (min-width: 64em) {
    #start {
        height: 100%;
        min-height: 0;
        padding: 0
    }
}

@media screen and (min-width: 64em) {
    #start .row, #start .columns {
        height: 100%
    }
}

@media screen and (min-width: 64em) {
    #start .columns {
        position: relative
    }
}

#start .notebook {
    width: 80%;
    max-width: 450px;
    margin-bottom: 12%
}

@media screen and (min-width: 48em) {
    #start .notebook {
        margin-bottom: 50px
    }
}

@media screen and (min-width: 64em) {
    #start .notebook {
        width: auto;
        max-width: none;
        max-height: 90%;
        margin: 0;
        position: absolute;
        left: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

@media screen and (min-width: 80em) {
    #start .notebook {
        max-height: 95%
    }
}

@media screen and (min-width: 90em) {
    #start .notebook {
        left: -5%
    }
}

@media screen and (min-width: 105em) {
    #start .notebook {
        left: -15%
    }
}

@media screen and (min-width: 64em) {
    #start .inner {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

#start .inner .logo {
    width: 80%;
    max-width: 370px;
    margin-bottom: 12%
}

@media screen and (min-width: 48em) {
    #start .inner .logo {
        margin-bottom: 60px
    }
}

@media screen and (min-width: 80em) {
    #start .inner .logo {
        max-width: 400px
    }
}

@media screen and (min-width: 90em) {
    #start .inner .logo {
        max-width: 450px;
        margin-bottom: 80px
    }
}

@media screen and (min-width: 105em) {
    #start .inner .logo {
        max-width: 500px
    }
}

#start .inner h3 {
    color: #999;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3;
    text-transform: none
}

@media screen and (min-width: 90em) {
    #start .inner h3 {
        font-size: 22px
    }
}

@media screen and (min-width: 48em) {
    #start .inner h3 br {
        display: none
    }
}

.go-down {
    display: none
}

@media screen and (min-width: 64em) {
    .go-down {
        display: block;
        width: 60px;
        height: 60px;
        background: url("img/arrow-down-circle-999.svg") no-repeat center;
        background-size: 28px;
        position: absolute;
        left: 50%;
        bottom: 10%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@media screen and (min-height: 68.75em) {
    .go-down {
        bottom: 20%
    }
}

.section {
    padding: 20px 0;
    position: relative
}

.section h1 {
    font-size: 32px;
    margin-bottom: 40px
}

@media screen and (min-width: 48em) {
    .section h1 {
        font-size: 50px
    }
}

.section h2 {
    font-size: 32px;
    margin-bottom: 40px
}

@media screen and (min-width: 48em) {
    .section h2 {
        font-size: 50px
    }
}

.section p {
    color: #777;
    font-size: 18px
}

@media screen and (min-width: 48em) {
    .section p {
        font-size: 20px
    }
}

#agentur p:first-of-type {
    margin-bottom: 40px
}

.facebook {
    padding-left: 62px;
    background-image: url("img/facebook.svg");
    background-size: auto 28px;
    background-repeat: no-repeat;
    background-position: 35px center
}

#referenzen {
    padding-top: 0
}

#referenzen .royalSlider {
    width: 100%
}

.project {
    padding-top: 20px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f2f2f2 0%, #f2f2f2 78%, #fff 78%, #fff 100%);
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #f2f2f2 78%, #fff 78%, #fff 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%, #f2f2f2 78%, #fff 78%, #fff 100%)
}

@media screen and (min-width: 48em) {
    .project {
        padding: 50px 41px 0
    }
}

@media screen and (min-width: 80em) {
    .project {
        padding: 50px 53px 0
    }
}

.project img {
    max-width: 95%
}

@media screen and (min-width: 64em) {
    .project img {
        max-height: 77vh
    }
}

.rsArrow {
    display: none !important
}

@media screen and (min-width: 48em) {
    .rsArrow {
        display: block !important;
        position: absolute;
        top: 39%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%)
    }
}

.rsArrowLeft {
    left: 0;
    padding-right: 5px
}

.rsArrowRight {
    right: 0;
    padding-left: 5px
}

.rsArrowIcn {
    width: 36px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px
}

@media screen and (min-width: 80em) {
    .rsArrowIcn {
        width: 48px;
        height: 90px;
        background-size: 18px
    }
}

.rsArrowLeft .rsArrowIcn {
    background-image: url("img/arrow-left-222.svg")
}

.rsArrowRight .rsArrowIcn {
    background-image: url("img/arrow-right-222.svg")
}

.rsBullets {
    width: 100%;
    margin: 20px 0 30px;
    font-size: 0
}

@media screen and (min-width: 48em) {
    .rsBullets {
        margin: 20px 0 40px
    }
}

@media screen and (min-width: 64em) {
    .rsBullets {
        margin: 0 0 40px
    }
}

.rsBullet {
    display: inline-block;
    margin: 0 4px
}

.rsBullet span {
    display: block;
    width: 10px;
    height: 10px;
    background: #ddd;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.rsBullet.rsNavSelected span {
    background: #222
}

.rsCaption {
    padding: 0 15px
}

@media screen and (min-width: 48em) {
    .rsCaption {
        padding: 0 50px
    }
}

.rsCaption h3 {
    font-size: 26px;
    line-height: 1.1;
    margin-bottom: 10px
}

@media screen and (min-width: 48em) {
    .rsCaption h3 {
        font-size: 32px
    }
}

@media screen and (min-width: 64em) {
    .rsCaption h3 {
        font-size: 40px
    }
}

.rsCaption h4 {
    margin: 0 0 50px;
    color: #999;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3
}

@media screen and (min-width: 48em) {
    .rsCaption h4 {
        font-size: 20px
    }
}

.rsOverflow:before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background: url("img/spinner.gif") no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media screen and (min-width: 48em) {
    .rsOverflow:before {
        top: 39%
    }
}

#news {
    background: #f2f2f2
}

#news h2 {
    margin-bottom: 70px
}

.news-items {
    max-width: 500px
}

@media screen and (min-width: 64em) {
    .news-items {
        padding: 0 15px;
        max-width: 1100px
    }
}

.news-items .column {
    margin-bottom: 30px
}

.news-items a {
    display: block;
    padding: 40px;
    background: #fff;
    text-align: left;
    position: relative
}

.news-items h3 {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 1.3
}

.news-items .date {
    color: #999;
    font-size: 16px
}

.news-items a:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fe4545;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.no-touchevents .news-items a:hover:after {
    width: 100%
}

.alm-btn-wrap {
    padding-top: 20px
}

.alm-load-more-btn {
    padding: 10px 15px;
    font-size: 14px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s
}

.alm-load-more-btn.done {
    background: #ddd
}

#news-details #header h1 {
    line-height: 1.2
}

#news-details #header .date {
    color: #999;
    font-size: 18px
}

#news-details #header .text {
    padding-top: 60px
}

#news-details .devices {
    padding-top: 20px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f2f2f2 0%, #f2f2f2 78%, #fff 78%, #fff 100%);
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #f2f2f2 78%, #fff 78%, #fff 100%);
    background: linear-gradient(to bottom, #f2f2f2 0%, #f2f2f2 78%, #fff 78%, #fff 100%)
}

@media screen and (min-width: 48em) {
    #news-details .devices {
        padding-top: 50px
    }
}

#news-details .devices img {
    max-width: 95%
}

@media screen and (min-width: 64em) {
    #news-details .devices img {
        max-height: 77vh
    }
}

#news-details #external-link {
    padding-top: 50px
}

#prev-next-nav {
    background: #f2f2f2;
    padding: 25px 0
}

.prev-next li {
    display: block;
    height: 30px;
    float: left
}

.prev-next .prev {
    width: 25%;
    text-align: left
}

.prev-next .parent {
    width: 50%
}

.prev-next .next {
    width: 25%;
    text-align: right
}

.prev-next a {
    display: inline-block;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase
}

.prev-next a:hover {
    color: #777
}

.prev-next span {
    display: block;
    float: left
}

.prev-next [class^="icon-"] {
    font-size: 27px
}

.prev-next .icon-arrow-left-light {
    padding-right: 15px
}

.prev-next .icon-arrow-right-light {
    padding-left: 15px
}

#leistungen {
    background: #222;
    color: #777
}

#leistungen h2 {
    color: #fff;
    margin-bottom: 70px
}

@media screen and (min-width: 64em) {
    #leistungen h2 {
        margin-bottom: 90px
    }
}

#leistungen h3 {
    color: #fff;
    font-size: 26px;
    margin-bottom: 25px
}

@media screen and (min-width: 48em) {
    #leistungen h3 {
        font-size: 32px
    }
}

@media screen and (min-width: 64em) {
    .services {
        padding: 0 15px;
        text-align: left;
        max-width: 1100px
    }
}

.services .columns {
    margin-bottom: 50px
}

@media screen and (min-width: 64em) {
    .services .columns {
        width: auto
    }
}

@media screen and (min-width: 64em) {
    .services .columns.equalized {
        padding-right: 23px
    }
}

.services:last-child .columns:last-child {
    margin-bottom: 0
}

@media screen and (min-width: 64em) {
    .services:last-child .columns:first-child {
        margin-bottom: 0
    }
}

.services ul {
    font-size: 18px
}

.services ul li {
    margin-bottom: 0.6em
}

@media screen and (min-width: 64em) {
    .services ul li {
        margin-bottom: 0.3em;
        padding-left: 1.5em;
        position: relative
    }
}

@media screen and (min-width: 64em) {
    .services ul li:before {
        content: "\2014";
        position: absolute;
        left: 0
    }
}

#tablet {
    background: #f2f2f2
}

#tablet img {
    max-width: 95%
}

@media screen and (min-width: 80em) {
    #tablet img {
        max-width: 1100px
    }
}

@media screen and (min-width: 90em) {
    #tablet img {
        max-width: 1200px
    }
}

#anfrage .columns {
    position: relative
}

#phone-button {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin-bottom: 40px;
    background: #fe4545;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

@media screen and (min-width: 48em) {
    #phone-button {
        position: absolute;
        right: -49px;
        top: -178px
    }
}

@media screen and (min-width: 64em) {
    #phone-button {
        width: 200px;
        height: 200px;
        font-size: 32px;
        right: -70px;
        top: -190px
    }
}

#phone-button .phone-label {
    display: block;
    padding: 34px 0 6px;
    font-size: 70%;
    text-transform: uppercase
}

@media screen and (min-width: 64em) {
    #phone-button .phone-label {
        padding: 42px 0 10px
    }
}

#anfrage p:first-of-type {
    margin-bottom: 40px
}

#facebook {
    padding: 40px 0;
    background: #f2f2f2
}

#facebook a {
    display: inline-block;
    font-size: 22px;
    line-height: 1.1;
    text-transform: uppercase
}

#facebook a:before {
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    margin: 0 auto 20px;
    background: #222 url("img/facebook.svg") no-repeat center;
    background-size: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

#kontakt {
    background: #222
}

#kontakt ul {
    display: inline-block;
    margin-bottom: 40px
}

#kontakt ul li {
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase
}

@media screen and (min-width: 64em) {
    #kontakt ul li {
        margin: 0 15px;
        float: left
    }
}

@media screen and (min-width: 80em) {
    #kontakt ul li {
        margin: 0 30px
    }
}

#kontakt ul li a {
    color: #fff
}

#kontakt ul li a:hover {
    color: #777
}

#legal_stuff h2 {
    font-size: 32px;
    margin: 60px 0
}

@media screen and (min-width: 48em) {
    #legal_stuff h2 {
        font-size: 40px
    }
}

#legal_stuff .columns h2:first-child {
    margin-top: 0
}

#legal_stuff h3 {
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
    margin: 40px 0 15px
}

#legal_stuff p {
    font-size: 18px;
    text-align: left;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

#legal_stuff p a {
    color: #777;
    border-bottom: 1px solid #777
}

#legal_stuff p a:hover {
    border: 0 none
}

#legal_stuff p a[href^="tel"] {
    border: 0 none
}

.close-legal_stuff {
    display: block;
    width: 50px;
    height: 50px;
    margin: -10px -10px 0 0;
    background: url("img/close-222.svg") no-repeat center;
    background-size: 30px;
    position: absolute;
    right: 15px;
    top: 15px
}

@media screen and (min-width: 48em) {
    .close-legal_stuff {
        right: 41px;
        top: 41px
    }
}

@media screen and (min-width: 80em) {
    .close-legal_stuff {
        right: 53px;
        top: 53px
    }
}

.nav-toggle {
    display: block;
    padding: 10px;
    background: #f2f2f2;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 200;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}

@media screen and (min-width: 48em) {
    .nav-toggle {
        right: 41px;
        top: 41px
    }
}

@media screen and (min-width: 80em) {
    .nav-toggle {
        right: 53px;
        top: 53px
    }
}

.nav-toggle span {
    display: block;
    width: 32px;
    height: 3px;
    background: #222;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.nav-toggle .line-2 {
    margin: 6px 0
}

.nav-open .nav-toggle {
    background: transparent
}

.nav-open .nav-toggle .line-1 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px
}

.nav-open .nav-toggle .line-2 {
    opacity: 0
}

.nav-open .nav-toggle .line-3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -9px
}

#nav {
    width: 80%;
    max-width: 380px;
    height: 100%;
    overflow-y: auto;
    padding-top: 65px;
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 150;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    -o-transition: -o-transform 300ms ease;
    transition: transform 300ms ease
}

@media screen and (min-width: 48em) {
    #nav {
        padding-top: 100px
    }
}

@media screen and (min-width: 80em) {
    #nav {
        max-width: 480px;
        padding-top: 120px
    }
}

.nav-open #nav {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#nav a {
    display: block;
    padding: 5px 0 5px 40px;
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    text-align: left
}

@media screen and (min-width: 48em) {
    #nav a {
        padding-left: 60px;
        font-size: 36px
    }
}

@media screen and (min-width: 80em) {
    #nav a {
        padding-left: 80px;
        font-size: 40px
    }
}

#nav a:hover {
    background: #f2f2f2
}

#page:before {
    display: block;
    content: "";
    width: 100%;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(204, 204, 204, 0.6);
    opacity: 0;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 300ms ease, height 1ms 300ms ease;
    -moz-transition: opacity 300ms ease, height 1ms 300ms ease;
    -o-transition: opacity 300ms ease, height 1ms 300ms ease;
    transition: opacity 300ms ease, height 1ms 300ms ease
}

.nav-open #page:before {
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    height: 100%;
    opacity: 1
}

.lt-ie10 #nav {
    display: none
}

.lt-ie10 .nav-open #nav {
    display: block
}

.hasBorder {
    border: 1px solid #e1e1e1;
}

.link-column:not(:last-child) {
    border-right: 1px solid #e7e7e7;
}

.input-group-label {
    padding: 0 1rem;
    border: 1px solid #cacaca;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    white-space: nowrap;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

input-group-field {
    display: initial;
    min-width: 0;
}

.label-input100 {
    width: 22px;
    height: 80%;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    top: 0;
    left: 27px;
}

.contact100-form-symbol {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    background: #fff;
    top: -55px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.contact100-form-symbol img {
    max-width: 49px;
}

.contact100-form-title {
    width: 100%;
    display: block;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 43px;
}

.flex-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-sb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.wrap-input100.rs1 {
    width: calc((100% - 20px) / 2);
}
.validate-input {
    position: relative;
}
.wrap-input {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 30px;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 30px;
}
input.input100 {
    height: 60px;
    padding: 0 20px 0 25px;
    font-size: 20px;
}
.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: OpenSans-Regular;
    color: #333333;
    line-height: 1.2;
}

input {
    outline: none;
    border: none;
}

.focus-input100 {
    position: absolute;
    display: block;
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #ff4b5a;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 5px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;

    font-family: OpenSans-Regular;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
/* FREE DOWNLOAD BUTTON */





.download {
    width: 200px;
    height: 75px;
    background: white;
    margin: auto;
    border-radius: 5px;
    position: relative;
    color: #000;
    cursor: pointer;
    border: 1px solid #000;
}

.download > .fa {
    color: #000;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.df,
.dfn {
    position: absolute;
    left: 70px;
}

.df {
    top: 15px;
    font-size: 1.1em;
    text-indent: 1.6em;
    text-align: justify;
}

.dfn {
    top: 35px;
    font-size: 1.14em;
    text-indent: 0.3em;
}

.download:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
/* FREE DOWNLOAD BUTTON */

.has-margin-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.has-padding-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

input.input100.input100-padding {
    padding: 0 20px 0 43px;
}

a.button.right {
    float: right;
}

ul.flat-social {
    display: flex;
    margin: auto;
}

ul.flat-social li {
    display: inline;
    padding: 20px;
}

div#faq {
    background-color: #f2f2f2;
}

div#footer {
    background-color: #f2f2f2;
    text-align: left;
}

textarea.input100 {
    padding-left: 24px;
    font-size: 20px;
    height: 200px;
}

.myTable {
    margin: auto;
    text-align: left;
}

.myTable tbody tr:nth-child(even) {
    background-color: #fff;
}

.myTable > tbody > tr:first-child > td {
    padding-top: 40px;
}

.myTable > tbody > tr:last-child > td {
    padding-bottom: 40px;
}

.column.link-column {
    padding: 35px;
}

.date {
    font-size: 0.9em;
}
/*# sourceMappingURL=style.css.map */
